@{
    ViewData["Title"] = "Home Page";
}


<script>
    function addAnotherMedia(data, imageLink) {
        if (data.multiPhotos != null) {
            $("#anotherMedia").remove();
            var multipleMediaDiv = "<div id='anotherMedia' class='row mt-2 w-100'><h3 class='col-12'>Media List</h3></div>";
            document.getElementById('mediaDiv').innerHTML += multipleMediaDiv;
            for (var i = 0; i < data.multiPhotos.length; i++) {

                let mediaType = "";
                let url = "";
                if (data.multiPhotos[i].node.is_video == true) {
                    url = data.multiPhotos[i].node.video_url;
                    mediaType = `<video  class="framed media-size" controls="" preload="auto"><source src="${url}" type="video/mp4"></video>`;
                }
                else {
                    url = data.multiPhotos[i].node.display_url;
                    mediaType = `<img class="media-size" src="${url}" />`;
                }
                var cart = `<div class="col-12 col-sm-12 col-lg-4 mt-3 mb-1 d-flex justify-content-center"><div class="card" style="width: 18rem;">
                  ${mediaType}
                  <div class="card-body">
                   <a class="btn btn-success btn-sm" href="${url}" target="_blank">Download Link</a>
                  </div>
                </div></div>`;

                document.getElementById('anotherMedia').innerHTML += cart;

            }

        }
    }
    $(document).ready(function () {
        $("#btnPost").click(function () {
            debugger;
           
            var txt = document.getElementById('urlText').value;
            if (txt == "") {
                return;
            }
            $.ajax({
                url: '/Home/Post',
                type: 'POST',
                dataType: 'json',
                data: { url: txt },
                success: function (data) {
                    debugger;
                    let type = data.type;
                    var url = data.url;
                    console.log(url);
                    document.getElementById('toss').innerHTML = "<h5 >Display Media</h5>";
                    document.getElementById('tossButtons').innerHTML = "";
                    if (data.multiPhotos == null) {
                        var link = `<h5 class="text-center mt-1 mb-3 mt-5 d-sm-block"><a class="btn btn-sm btn-primary  btn-lg"  href="${url}" download="DOwnload" id="downloadLink" target="__blank">Download ${type} file ⬇</a></h5>`;
                        document.getElementById('tossButtons').innerHTML += link;
                    }
                    if (type == "image") {
                        var imageLink = `<img src="${url}" class="media-size">`;
                        document.getElementById('toss').innerHTML += imageLink;
                        addAnotherMedia(data, imageLink);
                    }
                    else {
                        var videoLink = `<video class="framed media-size" controls="" preload="auto"><source src="${url}" type="video/mp4"></video>`;
                        document.getElementById('toss').innerHTML += videoLink;
                    }


                    var cardLink = `
                        <div class="card media-size mt-1" style="width: 18rem;overflow-y:auto">
                        <div class="card-body d-flex flex-row">
                                <img class="card-img-top img-size" src="${data.owner.profile_pic_url}" alt="Card image cap">
                                <div>
                                  <h5 class="card-title font-weight-bold mb-2 ml-3 mt-2"><a href="http://www.instagram.com/${data.owner.username}" target="_blank">${data.owner.username}<a></h4>
                                </div>
                        </div>
                        <div class="card-body">
                            <p class="card-text" style="font-size:12px">${data.caption}</p>
                        </div>
                    </div>`
                    document.getElementById('tossInfo').innerHTML = cardLink;
                    //alert(data);
                    // document.location.href = data;
                },
                error: function (error) {
                    alert("Something wrong 😢😢😢😢");
                }
            });


        });


    });

 


</script>

<div class="col-md-12 col-12">
    <h1 class="spacing"> Instagram Video / Photo Downloader</h1>
    <h2 class="spacing">Download Instagram Videos & Photos Online</h2>
</div>
<div class="input-group mb-3 mt-5 spacing">
    <input type="text" class="form-control" id="urlText" placeholder="Instagram Video / Photo Link" aria-describedby="basic-addon2">
    <div class="input-group-append">
        <button class="btn btn-outline-primary" type="button" id="btnPost">Convert</button>
    </div>
</div>
<div class="row mt-5" id="mediaDiv">
    <div class="col-12 col-sm-12 col-lg-4 convertedUrlContent" id="toss">

    </div>
    <div class="col-12 col-sm-12 col-lg-4 convertedUrlContent" id="tossButtons">

    </div>
    <div class="col-12 col-sm-12 col-lg-4 convertedUrlContent d-flex justify-content-center" id="tossInfo">

    </div>

</div>


